<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>QUnit Test Results</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../vendor/test/qunit-1.11.0.css">
        <link rel="stylesheet" href="../release/vendor.min.css">

    </head>
    <body>
		<h1 id="qunit-header">QUnit example</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="../release/vendor.min.js"></script>
        <script src="../vendor/test/qunit-1.11.0.js"></script>

		<%
            var jsFiles = grunt.file.expand(grunt.config('lint.files')),
                testJsFiles = grunt.file.expand(grunt.config('tmpHtml.test.testJsFiles')),
				releaseMode = grunt.config('tmplHtml.releaseMode');

            if(releaseMode) {
                print('        <script type="text/javascript" src="' + grunt.config('concat.dist.dest') + '"></script>\n');
            } else {
				testJsFiles.sort().reverse();
                for(var i = 0, len = jsFiles.length; i < len; i += 1) {
                    print('        <script type="text/javascript" src="../' + jsFiles[i] + '"></script>\n');
                }
				for(var i = 0, len = testJsFiles.length; i < len; i += 1) {
                    print('        <script type="text/javascript" src="../' + testJsFiles[i] + '"></script>\n');
                }
            }
        %>
        <div id="OjTestingDiv" style-"display: none;"></div>
    </body>
</html>
