<!DOCTYPE html>

<html class="x-border-box x-strict">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Visual SQL Query Builder
    </title>

    <link rel="stylesheet" href="//cdn.sencha.io/ext-4.1.1a-gpl/resources/css/ext-all-scoped.css" type="text/css">
    <link href="../vendor/css/shCore.css" rel="stylesheet" type="text/css">
    <link href="../vendor/css/shThemeDefault.css" rel="stylesheet" type="text/css">

    <link href="css/nameSpace.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="//cdn.sencha.io/ext-4.1.1a-gpl/ext-all-debug.js"></script>
    <script type="text/javascript" src="//cdn.sencha.io/ext-4.1.1a-gpl/examples/ux/CheckColumn.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js"></script>

    <script type="text/javascript" src="../vendor/js/shCore.js"></script>
    <script type="text/javascript" src="../vendor/js/shBrushSql.js"></script>
    <script type="text/javascript" src="js/core/integrations/afterExt.js"></script>
    
    <<%
            var buildMode = grunt.config('buildMode');
            switch(buildMode) {
                case 'dev':
                    var jsVendorFiles = grunt.file.expand(grunt.config('nsVendorJsFiles'));
                    for(var i = 0, len = jsVendorFiles.length; i < len; i += 1) {
                        print('        <script type="text/javascript" src="' + jsVendorFiles[i] + '"></script>\n');
                    }
                    var jsFiles = grunt.file.expand(grunt.config('nsAppJsFiles'));
                    for(var i = 0, len = jsFiles.length; i < len; i += 1) {
                        print('        <script type="text/javascript" src="' + jsFiles[i] + '"></script>\n');
                    }
                    break;
                default:
                 
                    print('        <script src="release/vendor.min.js"></script>\n');
                    print('        <script type="text/javascript" src="release/NS.' + grunt.template.today("yyyy.m.d") + '.min.js"></script>\n');
                    break;
            }
            
        %>
</head>

<body class="x-body x-webkit x-chrome x-reset">
</body>
</html>
